<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Thank you for your order, <%= order.fname %>!</h1>

    <h2>Order Details</h2>
    <p>Name: <%= order.fname %> <%= order.lname %></p>
    <p>Email: <%= order.email %></p>
    <p>Method: <%= order.method %></p>
    <p>Size: <%= order.size %></p>

    <!--
    if (Array.isArray(order.toppings)) { 
        <p>Toppings: order.toppings.join(', ')</p>
    } else {
        <p>Toppings: <%= order.toppings %></p>
    } 
    -->

    <% if (Array.isArray(order.toppings)) { %>
        <p>Toppings: <%= order.toppings.join(', ') %></p>
    <% } else { %>
        <p>Toppings: <%= order.toppings %></p>
    <% } %>

    <p>Toppings: <%= Array.isArray(order.toppings) ? order.toppings.join(', ') : 
        order.toppings %></p>

</body>
</html>